@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", "Roboto", sans-serif;
  text-decoration: none;
  list-style-type: none;
  -webkit-tap-highlight-color: rgba(185, 211, 255, 0.0235294118);
}

:root {
  --primary-color: #d17842;
  --bg-color: #0c0f14;
  --bg-light: #141921;
  --txt-color: #f1f1f1;
  --btn-ln1: #20242a;
  --btn-ln2: #0c0f14;
  --btn-ln2_less: #0f151d;
  --border-radius: 10pt;
}

body {
  background-color: var(--bg-color);
  color: var(--txt-color);
}

button {
  all: unset;
  cursor: pointer;
  overflow: hidden;
}
button:active {
  transform: translateY(2px) scale(0.95);
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

header {
  padding: 1rem 2rem;
}
header .upperMenu {
  margin: 0.8rem 0;
  margin-bottom: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .upperMenu button {
  width: 38px;
  height: 38px;
  font-size: 1.1rem;
  background-color: var(--btn-ln1);
  background: linear-gradient(160deg, var(--btn-ln1), var(--btn-ln2));
  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: 0 0 0 2px rgba(241, 241, 241, 0.0352941176);
}
header .upperMenu button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
header .upperMenu button i {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
}
header .txtWel {
  font-size: 2rem;
}

main .searchField {
  margin: 1rem 1.2rem;
  background-color: var(--bg-light);
  background: linear-gradient(170deg, var(--btn-ln1), var(--btn-ln2_less));
  opacity: 0.8;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.0941176471);
  padding: 0.6rem 1.2rem;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  gap: 0.56rem;
}
main .searchField button {
  padding: 0.4rem;
}
main .searchField input[type=search] {
  all: unset;
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-size: 0.9rem;
}
main .searchField input[type=search]::placeholder {
  opacity: 0.5;
}
main .searchField i.bx {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.25;
  font-size: 1.2rem;
  transform: scale(1.2) translateY(1px);
}
main .fadeeff {
  position: relative;
}
main .fadeeff::after {
  content: "";
  display: block;
  width: 45px;
  height: 100%;
  background: linear-gradient(90deg, rgba(12, 15, 20, 0), rgba(12, 15, 20, 0.7607843137), #0c0f14 30%);
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
}
main .fadeeff .categoryTabs {
  width: 85%;
  margin: 0.6rem auto;
  overflow: hidden;
  overflow-x: auto;
  position: relative;
  position: relative;
}
main .fadeeff .categoryTabs::-webkit-scrollbar {
  height: 1px;
  width: 0px;
}
main .fadeeff .categoryTabs table {
  width: 100%;
  padding: 1rem 0.2rem;
}
main .fadeeff .categoryTabs table tr {
  width: fit-content;
}
main .fadeeff .categoryTabs table tr td {
  width: fit-content;
}
main .fadeeff .categoryTabs table tr td input[type=radio] {
  position: absolute;
  left: -999999%;
  visibility: hidden;
}
main .fadeeff .categoryTabs table tr td label {
  font-size: 0.8rem;
  cursor: pointer;
  font-weight: 600;
  width: fit-content;
  white-space: nowrap;
  transition: text-shadow 600ms ease, color 400ms ease, opacity 400ms ease, font-size 200ms ease;
  padding: 0rem 0.8rem;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  opacity: 0.2;
}
main .fadeeff .categoryTabs table tr td label::after {
  content: "";
  display: block;
  height: 6px;
  width: 6px;
  border-radius: 200pt;
  background: transparent;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: background-color 600ms, box-shadow 800ms, opacity 600ms;
}
main .fadeeff .categoryTabs table tr td input[type=radio]:checked + label {
  font-size: 0.9rem;
  opacity: 1;
  color: var(--primary-color);
  text-shadow: 0 0 2px rgba(209, 120, 66, 0.6980392157);
}
main .fadeeff .categoryTabs table tr td input[type=radio]:checked + label::after {
  background-color: var(--primary-color);
  box-shadow: 0 0 8px rgba(209, 120, 66, 0.6980392157);
  opacity: 1;
}
main section.products {
  padding: 1rem 1.6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  align-items: center;
  justify-content: start;
  gap: 1.3rem;
}
main section.products .prod {
  background-color: var(--bg-color);
  user-select: none;
  background: linear-gradient(-45deg, rgba(13, 16, 21, 0.5647058824), rgba(37, 42, 51, 0.5647058824));
  overflow: hidden;
  border-radius: 18pt;
}
main section.products .prod .img-container {
  margin: 0.8rem;
  border-radius: 10pt;
  overflow: hidden;
  position: relative;
  background-color: var(--bg-color);
  height: 130px;
  box-shadow: 0 8px 30px -5px rgba(93, 60, 40, 0.3137254902);
}
main section.products .prod .img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
main section.products .prod .img-container .rating {
  color: rgba(255, 255, 255, 0.8235294118);
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem 0.9rem;
  background-color: rgba(11, 13, 17, 0.5215686275);
  border-radius: 0 10pt 0 20pt;
  backdrop-filter: blur(5px);
  font-weight: 700;
  font-size: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
main section.products .prod .img-container .rating i {
  transform: translateY(0px) scale(1.4);
  color: #cc7039;
}
main section.products .prod .text-container {
  margin: 0 0.8rem;
}
main section.products .prod .text-container h3 {
  font-weight: 500;
  opacity: 0.8;
}
main section.products .prod .text-container p {
  margin-top: 0.2rem;
  font-weight: 600;
  opacity: 0.4;
  font-size: 0.8rem;
}
main section.products .prod .footer {
  margin: 0.6rem 0.8rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main section.products .prod .footer h3 {
  opacity: 0.8;
  font-size: 0.9rem;
}
main section.products .prod .footer h3 span {
  font-size: 1rem;
  color: var(--primary-color);
}
main section.products .prod .footer button {
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
  box-shadow: 0 5px 10px -5px rgba(209, 120, 66, 0.5019607843);
}
main .cont {
  margin: 1rem 2rem;
}
main .cont h5 {
  font-size: 1.2rem;
  opacity: 0.8;
}
main .showcase {
  margin: 1rem;
  display: grid;
  grid-template-columns: 40% 1fr;
  padding: 1rem;
  gap: 1rem;
  background: linear-gradient(-45deg, rgba(13, 16, 21, 0.5647058824), rgba(37, 42, 51, 0.5647058824));
  border-radius: 20pt;
}
main .showcase .img-cont {
  border-radius: 10pt;
  overflow: hidden;
  box-shadow: 0 8px 15px -5px #121212;
}
main .showcase .img-cont img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
main .showcase .text-content h4 {
  font-size: 1rem;
  opacity: 0.7;
}
main .showcase .text-content p {
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0.4;
  margin-top: 0.5rem;
}

footer {
  padding: 2rem;
}
footer p {
  color: #f1f1f1;
  opacity: 0.8;
}
footer p a {
  text-decoration: underline;
  color: #236bd1;
}

.openMn {
  background: url("../assets/co1.jpg") center/cover no-repeat;
  background-size: cover;
  background-position: top;
  grid-template-columns: repeat(2, 1fr);
  margin: 1rem;
  border-radius: 20pt;
  padding: 0;
  overflow: hidden;
  position: relative;
  height: 400px;
}
.openMn .upperMenu {
  margin: 1.4rem;
}
.openMn .upperMenu button {
  box-shadow: 0 0 0 2px rgba(17, 19, 21, 0.6588235294);
}
.openMn .intro {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(12, 15, 20, 0.3137254902);
  width: 100%;
  overflow: hidden;
  padding: 1.5rem 2rem;
  backdrop-filter: blur(8px);
  border-radius: 20pt 20pt 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.openMn .intro .textContent h3 {
  font-size: 1.4rem;
  opacity: 0.8;
  margin-bottom: 0.3rem;
}
.openMn .intro .textContent p {
  opacity: 0.4;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.openMn .intro .textContent .rating {
  opacity: 0.9;
}
.openMn .intro .textContent .rating i {
  color: var(--primary-color);
  margin-right: 0.4rem;
}
.openMn .intro .textContent .rating small {
  opacity: 0.4;
  font-size: 0.7rem;
  margin-left: 0.2rem;
}
.openMn .intro .otherContent {
  width: 40%;
  display: grid;
  grid-template-areas: "coffee drop" "roast roast";
  gap: 0.5rem;
}
.openMn .intro .otherContent .smsec:nth-child(1) {
  grid-area: coffee;
}
.openMn .intro .otherContent .smsec:nth-child(2) {
  grid-area: drop;
}
.openMn .intro .otherContent .smsec:nth-child(3) {
  grid-area: roast;
  padding: 0.6rem;
}
.openMn .intro .otherContent .smsec {
  background-color: var(--bg-color);
  padding: 0.4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  border-radius: 6pt;
  color: rgba(241, 241, 241, 0.5098039216);
  box-shadow: 0 10px 20px -10px #09090b;
}
.openMn .intro .otherContent .smsec i {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
  color: var(--primary-color);
}
.openMn .intro .otherContent .smsec .smt {
  font-size: 0.4rem;
}
.openMn .intro .otherContent .smsec small {
  font-size: 0.7rem;
}

section.details {
  display: none;
  padding: 1rem 2.8rem;
}
section.details .des {
  opacity: 0.5;
}
